## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [8]:
import pandas as pd

In [58]:
data = pd.read_csv("/Users/anastasiaintyakova/innowise/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [24]:
sex_counts = data['sex'].value_counts()

print("Количество мужчин и женщин в датасете:")
print(f"\nМужчин: {sex_counts.get('Male', 0)}")
print(f"Женщин: {sex_counts.get('Female', 0)}")

Количество мужчин и женщин в датасете:

Мужчин: 21790
Женщин: 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [22]:
men_data = data[data['sex'] == 'Male']

average_age_men = men_data['age'].mean()

print(f"Средний возраст мужчин в датасете: {average_age_men:.2f} лет")

Средний возраст мужчин в датасете: 39.43 лет

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [26]:
data['native-country'] = data['native-country'].str.strip()

total_citizens = data.shape[0]

us_citizens = data[data['native-country'] == 'United-States'].shape[0]

proportion_us_citizens = us_citizens / total_citizens

print(f"Общее количество записей в датасете: {total_citizens}")
print(f"Количество граждан Соединенных Штатов: {us_citizens}")
print(f"Доля граждан Соединенных Штатов: {proportion_us_citizens:.2%}")

Общее количество записей в датасете: 32561
Количество граждан Соединенных Штатов: 29170
Доля граждан Соединенных Штатов: 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [30]:
data['salary'] = data['salary'].str.strip()

high_income_data = data[data['salary'] == '>50K']

low_income_data = data[data['salary'] == '<=50K']

mean_age_high_income = high_income_data['age'].mean()
std_age_high_income = high_income_data['age'].std()

mean_age_low_income = low_income_data['age'].mean()
std_age_low_income = low_income_data['age'].std()

print("Для группы с доходом >50K:")
print(f"  Средний возраст: {mean_age_high_income:.2f} лет")
print(f"  Среднеквадратичное отклонение возраста: {std_age_high_income:.2f} лет")

print("\nДля группы с доходом <=50K:")
print(f"  Средний возраст: {mean_age_low_income:.2f} лет")
print(f"  Среднеквадратичное отклонение возраста: {std_age_low_income:.2f} лет")

Для группы с доходом >50K:
  Средний возраст: 44.25 лет
  Среднеквадратичное отклонение возраста: 10.52 лет

Для группы с доходом <=50K:
  Средний возраст: 36.78 лет
  Среднеквадратичное отклонение возраста: 14.02 лет

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [40]:
data['education'] = data['education'].str.strip()

higher_education_levels = [
    'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'
]

high_income_higher_education = high_income_data[
    high_income_data['education'].isin(higher_education_levels)
]

total_high_income = high_income_data.shape[0]

count_high_income_higher_education = high_income_higher_education.shape[0]

if total_high_income > 0:
    proportion_higher_education_in_high_income = count_high_income_higher_education / total_high_income
else:
    proportion_higher_education_in_high_income = 0

print(f"Общее количество людей с доходом >50K: {total_high_income}")
print(f"Из них с высшим образованием: {count_high_income_higher_education}")
print(f"Доля людей с высшим образованием среди тех, кто получает >50K: {proportion_higher_education_in_high_income:.2%}")

if proportion_higher_education_in_high_income >= 0.9: 
    print("\nВывод: Доля очень высока, поэтому можно сказать, что это правда.")
else:
    print("\nВывод: Нет, неправда. Не все люди, получающие >50K, имеют минимум высшее образование.")

print("\nРаспределение образования среди людей с доходом >50K:")
print(high_income_data['education'].value_counts(normalize=True))

Общее количество людей с доходом >50K: 7841
Из них с высшим образованием: 4535
Доля людей с высшим образованием среди тех, кто получает >50K: 57.84%

Вывод: Нет, неправда. Не все люди, получающие >50K, имеют минимум высшее образование.

Распределение образования среди людей с доходом >50K:
education
Bachelors       0.283255
HS-grad         0.213621
Some-college    0.176891
Masters         0.122306
Prof-school     0.053947
Assoc-voc       0.046040
Doctorate       0.039026
Assoc-acdm      0.033797
10th            0.007907
11th            0.007652
7th-8th         0.005101
12th            0.004209
9th             0.003443
5th-6th         0.002041
1st-4th         0.000765
Name: proportion, dtype: float64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [42]:
data['race'] = data['race'].str.strip()
data['sex'] = data['sex'].str.strip()

age_stats = data.groupby(['race', 'sex'])['age'].describe()

print("Статистика возраста для каждой расы и каждого пола:")
print(age_stats)

try:
    max_age_asian_male = age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']
    print(f"\nМаксимальный возраст мужчин расы Asian-Pac-Islander: {max_age_asian_male:.0f} лет")
except KeyError:
    print("\nНе удалось найти максимальный возраст для мужчин расы Asian-Pac-Islander. Возможно, такой комбинации нет в данных.")

Статистика возраста для каждой расы и каждого пола:
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин расы Asian-Pac-Islander: 90 лет

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [46]:
married_men = men_data[men_data['marital-status'].str.startswith('Married')]

single_men = men_data[~men_data['marital-status'].str.startswith('Married')]

total_married_men = married_men.shape[0]
married_men_high_income = married_men[married_men['salary'] == '>50K'].shape[0]
proportion_married_high_income = (married_men_high_income / total_married_men) if total_married_men > 0 else 0

total_single_men = single_men.shape[0]
single_men_high_income = single_men[single_men['salary'] == '>50K'].shape[0]
proportion_single_high_income = (single_men_high_income / total_single_men) if total_single_men > 0 else 0

print(f"Доля женатых мужчин, зарабатывающих >50K: {proportion_married_high_income:.2%}")
print(f"Доля холостых мужчин, зарабатывающих >50K: {proportion_single_high_income:.2%}")

if proportion_married_high_income > proportion_single_high_income:
    print("\nСреди женатых мужчин доля зарабатывающих много (>50K) больше.")
elif proportion_single_high_income > proportion_married_high_income:
    print("\nСреди холостых мужчин доля зарабатывающих много (>50K) больше.")
else:
    print("\nДоля зарабатывающих много (>50K) одинакова среди женатых и холостых мужчин.")

Доля женатых мужчин, зарабатывающих >50K: 44.05%
Доля холостых мужчин, зарабатывающих >50K: 8.45%

Среди женатых мужчин доля зарабатывающих много (>50K) больше.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [48]:
max_hours_per_week = data['hours-per-week'].max()
print(f"Максимальное число часов человек работает в неделю: {max_hours_per_week}")

people_at_max_hours = data[data['hours-per-week'] == max_hours_per_week]
count_people_at_max_hours = people_at_max_hours.shape[0]
print(f"Количество людей, работающих {max_hours_per_week} часов в неделю: {count_people_at_max_hours}")

high_income_at_max_hours = people_at_max_hours[people_at_max_hours['salary'] == '>50K']
count_high_income_at_max_hours = high_income_at_max_hours.shape[0]

if count_people_at_max_hours > 0:
    percentage_high_income_at_max_hours = (count_high_income_at_max_hours / count_people_at_max_hours) * 100
else:
    percentage_high_income_at_max_hours = 0

print(f"Процент людей, зарабатывающих >50K среди работающих {max_hours_per_week} часов: {percentage_high_income_at_max_hours:.2f}%")

Максимальное число часов человек работает в неделю: 99
Количество людей, работающих 99 часов в неделю: 85
Процент людей, зарабатывающих >50K среди работающих 99 часов: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [50]:
average_hours_by_country_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

print("Среднее время работы по странам для разных уровней дохода:")
print(average_hours_by_country_salary)

Среднее время работы по странам для разных уровней дохода:
native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [52]:
bins = [data['age'].min() - 1, 34, 69, data['age'].max() + 1]
labels = ['young', 'adult', 'retiree']

data['AgeGroup'] = pd.cut(data['age'], bins=bins, labels=labels, right=True)

print("Первые 5 строк датасета с новой колонкой 'AgeGroup':")
print(data[['age', 'AgeGroup']].head())

print("\nКоличество людей в каждой возрастной группе:")
print(data['AgeGroup'].value_counts())

print("\nУникальные значения в 'AgeGroup':")
print(data['AgeGroup'].unique())

Первые 5 строк датасета с новой колонкой 'AgeGroup':
   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young

Количество людей в каждой возрастной группе:
AgeGroup
adult      17883
young      14049
retiree      629
Name: count, dtype: int64

Уникальные значения в 'AgeGroup':
['adult', 'young', 'retiree']
Categories (3, object): ['young' < 'adult' < 'retiree']

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [54]:
high_income_by_agegroup = data[data['salary'] == '>50K']['AgeGroup'].value_counts().sort_index()

print("Количество людей, зарабатывающих >50K в каждой возрастной группе:")
print(high_income_by_agegroup)

if not high_income_by_agegroup.empty:
    most_common_high_income_group = high_income_by_agegroup.idxmax()
    print(f"\nВозрастная группа, в которой чаще всего зарабатывают >50K: **{most_common_high_income_group}**")
else:
    print("\nНет данных о людях, зарабатывающих >50K, для анализа возрастных групп.")

Количество людей, зарабатывающих >50K в каждой возрастной группе:
AgeGroup
young      1488
adult      6240
retiree     113
Name: count, dtype: int64

Возрастная группа, в которой чаще всего зарабатывают >50K: **adult**

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [56]:
data['occupation'] = data['occupation'].str.strip()

occupation_counts = data['occupation'].value_counts()
print("Количество людей в каждой группе занятости:")
print(occupation_counts)

def filter_func(group_data):
    avg_age = group_data['age'].mean()
    condition_age = avg_age <= 40

    condition_hours = (group_data['hours-per-week'] > 5).all()

    return condition_age and condition_hours

filtered_occupations = data.groupby('occupation').filter(filter_func)

filtered_occupation_names = filtered_occupations['occupation'].unique()

print("\nГруппы занятости, соответствующие условиям фильтрации (средний возраст <= 40 и все работают > 5 часов в неделю):")
if len(filtered_occupation_names) > 0:
    for occupation in filtered_occupation_names:
        print(f"- {occupation}")
else:
    print("Нет групп занятости, удовлетворяющих заданным условиям.")

Количество людей в каждой группе занятости:
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

Группы занятости, соответствующие условиям фильтрации (средний возраст <= 40 и все работают > 5 часов в неделю):
- Armed-Forces